body{
    padding: 0;
    margin: 0;
}

.loader-container{
    height: 100vh;
    width: 90vw;
    position: relative;
}

.image{
    position: relative;
    height: 100vh;
}

.center{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 55%;
    top: 70%;
}

.image img{
    width: min(90%, 900px);
}

.number{
    font-size: 50px;
    font-family: 'poppins';
    font-weight: 600;
    color: white;
    -webkit-text-stroke: 2px #000;
}