* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: rgb(236, 129, 129);
    height: 100vh;
    width: 100%;
    position: relative;
}

.body h1 {
    text-align: center;
    padding-top: 70px;
    font-size: 42px;
    color: white;
}

.container {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonial {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide {
    width: 800px;
    height: 400px;
    position: relative;
}

.slide .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.slide .img img {
    width: 100%;
    border-radius: 10px;
}

.comment {
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.comment span {
    font-size: 20px;
}

.comment p {
    font-size: 18px;
    line-height: 24px;
}

.comment h3 {
    margin: 35px 0 5px;
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.indicator .btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    transition: 0.5s;
}

.indicator .btn.active {
    width: 45px;
}